In [1]:

import src.preprocessing as prep
import src.visualization as vis
import src.io_utils as io_utils
df = io_utils.load_dataframe_from_csv('../data/raw/training_data.csv')

Datei erfolgreich geladen: ../data/raw/training_data.csv / File successfully loaded: ../data/raw/training_data.csv

C:\Users\98sul\Car-Price-Prediction\src\io_utils.py:49: DtypeWarning: Columns (31) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(filepath, sep=sep, encoding=encoding)

In [ ]:
df.head()

In [ ]:
import missingno as msno
vis.plot_missing_values(df)

In [ ]:
spalten_list = df.columns.tolist()
print(spalten_list)

In [ ]:
print(df["sellerType"].unique())
print(df["Anzahl der T√ºren"].isna().sum())
missing_seats_before = df["Anzahl Sitzpl√§tze"].isna().sum()

In [ ]:
# Drop columns with only null values or a single constant value
# These columns either contain only nulls or provide no variance (e.g., only one unique value)
cols_to_drop = ["Einparkhilfe", "Fahrzeugzustand", "Umweltplakette", "HU", "Fahrzeugnummer",
                "Zugr.-lgd. Treibstoffart", "CO2-Effizienz", "Farbe (Hersteller)",
                "Energieeffizienzklasse", "Anzahl der Fahrzeughalter", "sellerType","Anzahl der T√ºren"]  # only contains 'DEALER' und Anzahl der T√ºren hat  85911 nan Werte
df.drop(cols_to_drop, axis=1, inplace=True)

In [ ]:
df = prep.preprocess_dataframe(df)

In [ ]:
vis.plot_missing_values(df)

In [2]:
print(df.isnull().sum())

adId                             0
price                            0
Kategorie                        0
Erstzulassung                    0
colour                         278
Kilometerstand                5990
Leistung                         0
Kraftstoffart                    0
make                             0
model                            0
sellerType                       0
Klimatisierung                  47
Airbags                        325
Anzahl der Fahrzeughalter    98581
Verf√ºgbarkeit                35945
Herkunft                     15972
Energieeffizienzklasse       98581
Innenausstattung               198
CO2-Emissionen                  40
Getriebe                        13
Farbe (Hersteller)           98581
Verbrauch                       25
CO2-Effizienz                98581
Schadstoffklasse               329
Hubraum                         34
Zugr.-lgd. Treibstoffart     98581
Anzahl Sitzpl√§tze             7721
Fahrzeugnummer               98581
Anzahl der T√ºren             85991
HU                           96693
Umweltplakette               98404
Fahrzeugzustand              98569
Einparkhilfe                 98581
dtype: int64

In [ ]:

print(df["CO2-Emissionen"].isna().sum())

In [ ]:
print((df["CO2-Emissionen"] == "missing").sum())

In [ ]:
print(df["Airbags"].unique())

In [ ]:
print(missing_seats_before)
print((df["Anzahl Sitzpl√§tze"] == 0).sum())
# [2.0 5.0 4.0 7.0 'missing' 6.0 3.0 8.0 9.0 10.0 1.0 17.0 67.0]

In [ ]:
spalten_list = df.columns.tolist()
print(spalten_list)

In [ ]:
# CO2-Emissionen, Verbrauch

In [ ]:
print(df["Verbrauch_avg"])

In [ ]:
df.info()

In [ ]:
prep.anova_test(df,"Verf√ºgbarkeit","price")

In [ ]:
prep.cramers_v(df["make"], df["Herkunft"])

In [2]:
prep.calculate_mutual_info_regression(df, target_column="price")

üìä Mutual Information (Regression):
          Feature  MI Score
            model  0.960574
        Verbrauch  0.827294
         Leistung  0.752062
          Hubraum  0.714221
   CO2-Emissionen  0.591931
    Erstzulassung  0.357606
   Kilometerstand  0.352100
        Kategorie  0.351074
             make  0.318736
 Schadstoffklasse  0.284415
             adId  0.227311
 Innenausstattung  0.224040
         Getriebe  0.184963
    Kraftstoffart  0.088759
           colour  0.084386
         Herkunft  0.082495
   Klimatisierung  0.079982
    Verf√ºgbarkeit  0.077985
Anzahl Sitzpl√§tze  0.067466
          Airbags  0.038440

              Feature  MI Score
8               model  0.960574
16          Verbrauch  0.827294
5            Leistung  0.752062
18            Hubraum  0.714221
14     CO2-Emissionen  0.591931
2       Erstzulassung  0.357606
4      Kilometerstand  0.352100
1           Kategorie  0.351074
7                make  0.318736
17   Schadstoffklasse  0.284415
0                adId  0.227311
13   Innenausstattung  0.224040
15           Getriebe  0.184963
6       Kraftstoffart  0.088759
3              colour  0.084386
12           Herkunft  0.082495
9      Klimatisierung  0.079982
11      Verf√ºgbarkeit  0.077985
19  Anzahl Sitzpl√§tze  0.067466
10            Airbags  0.038440

In [ ]:
df.head()

In [ ]:
io_utils.save_dataframe_to_csv(df,filename='../data/processed/after_data_explorartion.csv', sep=';')

In [1]:
import src.io_utils as io_utils
import src.visualization as vis
import src.preprocessing as prep

df = io_utils.load_dataframe_from_csv('../data/processed/after_data_explorartion.csv', sep=';')

Datei erfolgreich geladen: ../data/processed/after_data_explorartion.csv / File successfully loaded: ../data/processed/after_data_explorartion.csv

In [ ]:
df.head()

In [ ]:
vis.plot_price_distribution_log(df)

In [ ]:
vis.plot_price_distribution(df, max_price=200000)

In [ ]:
mi_df = prep.calculate_mutual_info_regression(df, target_column="price")
vis.plot_mutual_info_scores(mi_df)

In [ ]:
df.info()

In [ ]:
vis.plot_scatter_price_vs_feature(df,"Leistung")

In [ ]:
vis.plot_scatter_price_vs_feature(df,["Erstzulassung","Leistung"])

In [ ]:
vis.plot_scatter_price_vs_feature(df,["Leistung","Erstzulassung"])

In [ ]:
vis.plot_boxplot_price_vs_category(df,"make")

In [ ]:
vis.plot_correlation_heatmap(df)

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 98581 entries, 0 to 98580
Data columns (total 21 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   adId               98581 non-null  int64
 1   price              98581 non-null  float64
 2   Kategorie          98581 non-null  object
 3   Erstzulassung      98581 non-null  int64
 4   colour             98581 non-null  object
 5   Kilometerstand     98581 non-null  float64
 6   Leistung           98581 non-null  int64
 7   Kraftstoffart      98581 non-null  object
 8   make               98581 non-null  object
 9   model              98581 non-null  object
 10  Klimatisierung     98581 non-null  object
 11  Airbags            98581 non-null  object
 12  Verf√ºgbarkeit      98581 non-null  object
 13  Herkunft           98581 non-null  object
 14  Innenausstattung   98581 non-null  object
 15  CO2-Emissionen     98581 non-null  object
 16  Getriebe           98581 non-null  object
 17  Verbrauch          98581 non-null  object
 18  Schadstoffklasse   98581 non-null  object
 19  Hubraum            98581 non-null  object
 20  Anzahl Sitzpl√§tze  98581 non-null  float64
dtypes: float64(3), int64(3), object(15)
memory usage: 15.8+ MB

In [ ]:
vis.plot_cramers_v_heatmap(df)

In [ ]:
vis.plot_avg_price_per_year(df)